body {
  background-color: #e9edfd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.card {
  background-color: #e9edfd;
  width: 300px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Electrolize", sans-serif;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -6px -6px 12px rgba(203, 200, 200, 0.25),
    13px 10px 19px rgba(0, 0, 0, 0.25);
}
.calculator-screen {
  background-color: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #e9edfd;
  background-blend-mode: soft-light, normal;
  font-family: "Electrolize", sans-serif;

  height: 20%;
  width: 100%;
  border-radius: 10px;
  margin-top: 33px;
  border: none;
  text-align: right;
  font-size: 30px;
  padding-right: 10px;
  box-shadow: inset -8.90123px -8.90123px 8.90123px rgba(255, 255, 255, 0.7),
    inset 13.3518px 13.3518px 8.90123px rgba(174, 174, 192, 0.2);
}

.calculator-screen .input {
  background-color: transparent;
  border: none;
  text-align: end;
  font-size: 30px;
  width: 90%;
  outline: none;
  font-family: "Electrolize", sans-serif;
}
.calculator-keys {
  height: 75%;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #e9edfd;
  width: 100%;
}
button {
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #e9edfd;
  border: black;
  height: 71px;
  width: 71px;
  display: inline;
  margin-bottom: 12px;
  margin-right: 1px;
  font-size: 30px;
  border-radius: 10px;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.6),
    13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.72);
  font-family: "Electrolize", sans-serif;
  color: #7a7a7a;
}
button:hover {
  background-color: rgb(205, 205, 205);
}
.row .all-clear {
  width: 146px;
}
.row4 .equal-sign {
  width: 146px;
}
.operator,
.all-clear {
  background: linear-gradient(
      315deg,
      rgba(29, 30, 2, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2d6a6a;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.3),
    13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 10px;
  color: white;
}
.equal-sign {
  background: linear-gradient(
      315deg,
      rgba(29, 30, 2, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #eba177;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.3),
    13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 10px;
  color: white;
}
